<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>558302509436-so0mn0qgq18r2eebgu4tltqr2nbt5vg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.558302509436-so0mn0qgq18r2eebgu4tltqr2nbt5vg9</string>
	<key>API_KEY</key>
	<string>AIzaSyBu0Tr8GQCkyHfPY9Kmhb77T4qIV2RKkGg</string>
	<key>GCM_SENDER_ID</key>
	<string>558302509436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petroplus</string>
	<key>PROJECT_ID</key>
	<string>petroplay-stp</string>
	<key>STORAGE_BUCKET</key>
	<string>petroplay-stp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558302509436:ios:907b072b065bf9921d4cf9</string>
</dict>
</plist>